/* 公共样式表 */

html {overflow-y:scroll;overflow-x:hidden;}
body {margin:0; padding:0; font:12px/1.5 \5b8b\4f53,Arial,sans-serif;/*background:#ffffff;*/}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p{padding:0; margin:0;}
table,td,tr,th{font-size:12px;}
ol,ul {list-style:none;}
li{list-style-type:none;}
img{vertical-align:top;border:0;}
h1,h2,h3,h4,h5,h6{font-size:inherit; font-weight:normal;}
a{font-size:12px ;color: #777;text-decoration: none;}
a:hover{text-decoration: underline;}
input{border:0;}


.ht_wrap,.header_middle,.header_bottom,#footer{width: 1210px;margin: 0 auto;}

/*========================header========================*/
#header{width: 100%;height:163px;background: #fff;border-bottom: 2px solid #e80d1e; }
.header_top{width: 100%;height: 28px;border-bottom: 1px solid #e9e9e9;border-top: 1px solid #e9e9e9;background: linear-gradient(#fafafa,#f1f1f1);line-height: 28px;color: #666;}
.ht_wrap{height: 100%;}
/*.header_top>span{}*/
.header_top p{float: right;}
.header_top p a{border-right: 1px solid #d4cdd4;border-left: 1px solid #def5f5;padding: 0 5px;}
.header_top p a.font_red{color: #d52120;padding-right: 9px;}
.header_top p a.right_bg{padding-right: 18px;background: url(../imgs/index/header_bg.jpg) no-repeat 58px center;}

.header_middle{height:88px;color: #999;}
.header_middle a{color: #999;}
#logo{width: 420px;height:73px;float: left;padding: 15px 0 0 2px;}
.search_area{width: 618px;height:70px;float: left;padding-top: 18px;}
.search_area div{height: 41px;}
.search_area input{float: left;outline: none;}
#searh_txt{width: 361px;height: 35px;border: 3px solid #e70012;padding-left: 8px;}
#searh_btn{width: 53px;height: 41px;background: #e70012 url(../imgs/index/search_btn.jpg) no-repeat center;}
.search_area p{height: 29px;line-height: 29px;}
.search_area p a{padding: 0 7px;}

.cart_link{width: 84px;height:31px;float: left;position: relative;margin-top: 27px;line-height: 31px;border: 1px solid #e8e8e8;padding-left: 44px;background: url(../imgs/index/cart.jpg) no-repeat 9px 7px;}
.cart_link span{width: 20px;height: 17px;background: #bfbfbf;color: #fff;line-height: 17px;text-align: center;position: absolute;left: 24px;top: -10px;}



.header_bottom{height:45px;}
.nav{width: 803px;height:45px;float: left;margin-left: 245px;}
.nav li{float: left;}
.nav li a{float: left;height: 45px;line-height: 45px;color: #000;margin-right: 40px;font-weight: bold;}
.nav li a:hover{color: #e70012}
.side_img{width: 162px;height: 34px;margin-top:4px;float: left;position: relative;overflow: hidden;}
.img_box{width: 162px;position: absolute;left: 0;top: 0;}
.side_img img{width: 134px;height: 34px;display: block;}
.side_img span{display: inline-block;width: 6px;height: 3px;position: absolute;right: 6px;background: url(../imgs/index/prev.jpg);}
.side_img span.prev{top: 12px;}
.side_img span.next{top: 25px;background-image: url(../imgs/index/next.jpg);}





/*========================footer========================*/
#footer{height: 256px;border-top: 1px solid #e3dedf;margin-top: 12px;}
.ft_links{width: 100%;height: 147px;border-bottom: 1px solid #e3dedf;}
.links{width: 105px;float: left;height: 147px;margin: 0 68px;}
.links li{width: 100%;height: 11px;text-align: center;font-size: 12px;color: #000;padding-top: 11px;}
.links li a{color: #333;}
.links li.link_tit{height: 20px;padding-top: 15px;font-size: 14px;font-weight: bold;border-bottom: 3px solid #e19504;position: relative;}
.links li.link_tit span{width: 46px;height: 0;border-top: 3px solid #a09601;position: absolute;left: 0;bottom: -3px;z-index: 100}
.ft_copyright{width: 100%;height: 100px;text-align: center;padding-top: 8px;color: #999;}
/*===========footer ended=========*/



/*在线咨询*/
#chat_online{width: 100px;height: 44px;background: url(../imgs/chat_bg.jpg) no-repeat center;position: fixed;left: 0;bottom: 0;z-index: 1000;padding-top: 58px;}
#chat_online a{display:block;height: 24px;line-height: 24px;padding-left: 30px;color: #bd5520;font-weight: bold;}
#chat_online a:hover{text-decoration: none;opacity: .7;filter: alpha(opacity=80);}
#chat_online img{width: 22px;height: 66px;position: absolute;right: -22px;top: 18px;cursor: pointer;}
#open{width: 25px;height: 66px;position: fixed;left: 0;bottom: 0;z-index: 500;cursor: pointer;}

/*在线客服*/
#service_wrap{width: 115px;height: 305px;border:5px solid #e20000;position: fixed;right: -151px;top: 180px;background: #fff;padding: 0 13px;border-radius: 4px;}
#service{width: 31px;height: 102px;font-size: 16px;text-align: center;position: absolute;left: -31px;top: 0;bottom:0;margin:auto;background: linear-gradient(90deg,#ea0004,#c20003);border:1px solid #e86a1e;border-right: 0;color: #fff;font-weight: bold;padding-top: 16px;cursor: pointer;}
#service_wrap span{display: block;height: 32px;text-align: center;line-height: 32px;color: #a11226;}
#service_wrap span.time{height: 14px;color: #c48456;border-bottom: 1px solid #fff2bf;line-height: 14px;}

#service_wrap a{display:block;height:38px;line-height:38px;border-bottom: 1px solid #e4e4e4;text-align: center;background: url(../imgs/qq.jpg) no-repeat left center;}
#service_wrap strong{display: block;height: 55px;line-height: 55px;border-bottom:1px solid #e4e4e4;text-align: center;background: url(../imgs/hotline.jpg) no-repeat left center;}

/* 在线调查 */
#investigate{width: 17px;height: 82px;padding-top: 15px;border:1px solid #cdcdcd;position: fixed;right: 10px;bottom: 20px;border-radius: 4px;text-align: center;cursor: pointer;background: url(../imgs/123.jpg) no-repeat center 7px;}
#investigate a{color: #878787;}
#investigate a:hover{text-decoration: none;}

/* 关于我们 */
#infos{width: 40px;height: 40px;background: url(../imgs/index/lala.jpg) no-repeat center;position: absolute;right: 0;top: 80px;border:1px solid #ddd; border-radius: 25% 0 0 25%;z-index: 500}
#aboutus{width: 222px;height: 249px;background: #fff;border:1px solid #cecece;position: fixed;right: 0px;top: 80px;z-index: 1000;display: none;}
#aboutus>p{height: 30px;background: #bd1918;width: 220px;border:1px solid #862e2a;line-height: 30px;color: #fff;background: #bc1a15 url(../imgs/index/liu.jpg) no-repeat 14px center;}
#aboutus>p span{float: right;padding-right: 26px;font-weight: bold;background: url(../imgs/index/piu.jpg) no-repeat 30px center;}
.gongsi{height: 107px;border-bottom: 1px dashed #E5E8E3;background: url(../imgs/index/lulu.jpg) no-repeat 13px 40px;}
.gongsi>p{height: 24px;padding: 18px 0 0 13px;color: #000;font-weight: bold;}
.gongsi>div p{height: 19px;padding-left: 64px;color: #999;}
.gongsi>div p a{color: #999;}
#colorblue{color: #32A0FF;}
.renzheng{height: 95px;background:#F7F7F6;padding:15px 0 0 13px;}
.renzheng p{height: 23px;}
.renzheng p a{float: right;padding-right: 15px;color: #32A0FF;}
.form1{width: 190px;height: 28px;border:1px solid #E0E0E0;}
.form1 input[type=text]{width: 167px;height: 28px;float: left;outline: none;}
.form1 input[type=button]{width: 23px;height: 28px;float: left;background:#fff url(../imgs/index/btn.jpg) no-repeat left center;outline: none;cursor: pointer;}

/*==============回到顶部===============*/
#back_to_top{width: 17px;height: 82px;padding-top: 15px;border:1px solid #cdcdcd;border-radius: 4px;text-align: center;cursor: pointer;background: url(../imgs/123.jpg) no-repeat center 7px;color:#878787;position:fixed;right: 10px;bottom: 130px;}

