


#header_top p,#header_bottom,#main{width: 985px;margin: 0 auto;}

#header_top{width: 100%;height: 28px;border:1px solid #e9e9e9;border-left: 0;border-right: 0;background: linear-gradient(#fafafa,#f1f1f1);}
#header_top p{color: #555;text-align:right;line-height: 28px;}
#header_top p span{color: #e70012;padding: 0 10px;}
#header_top p a{color: #ccc;padding-left: 15px;}

#header_bottom{height: 99px;}
#header_bottom>*{float: left;}
#header_bottom h1{width: 217px;height: 83px;padding: 16px 0 0 3px;}
#header_bottom div{width: 765px;height: 57px;padding-top: 42px;}
#header_bottom p{height: 26px;background: #e0e0e0;}
#header_bottom p span{float: left;height: 26px;padding: 0 30px 0 46px;line-height: 26px;color: #5e5e5e;}


#main{border:1px solid #c1c1c1;padding-bottom: 15px;}
.process{height: 34px;background: url(../imgs/cart_bg2.jpg) no-repeat left top;border-bottom: 1px solid #d8d8d8;}
#main>table{width: 976px;margin: 0 auto;border: 1px solid #e0e0e0;}
.prod_tit{height: 34px;background: #f5f5f5;margin: 10px auto 45px!important;color: #5e5e5e;font-weight: bold;}
.prod_tit td{height: 34px;text-align: center;}
.prod_name{width: 355px;}
.prod_price{width: 145px;}
.prod_unit{width: 112px;}
.prod_num{width: 125px;}
.total{width: 158px;}
.action{width:80px;}

.cart_infos{border-collapse: collapse;border:0;margin-bottom: 25px!important;}
.cart_infos .template{display: none;}

.cart_infos td{height: 73px;border: 1px solid #e0e0e0;text-align: center;}
.cart_infos .prod_name{padding-left: 30px;text-align: left;}
.prod_name img{width: 50px;height: 50px;border:1px solid #e0e0e0;float: left;margin-top: 12px;}
.prod_name p{width: 243px;height: 73px;float: left;padding: 0 20px 0 10px;}
.prod_name p a{display: block;height: 22px;padding-top: 10px;line-height: 22px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;color: #005ea7;}
.prod_name p span{color: #8f8f8f;}
.prod_num>*{border:1px solid #a3b7c7;}
.prod_num span{display: inline-block;width: 12px;height: 12px;line-height: 12px;}
.prod_num input{width: 40px;height: 19px;margin: 0 11px;text-align: center;}
.action a{display: block;color: #005ea7;}

.cart_infos .total_info{height: 148px;background: #f5f5f5;}
.total_info td{padding: 38px 0 0 763px;text-align: left;height: 108px;}
.total_info span{display: block;height: 36px;line-height: 36px;color: #5e5e5e;}

.jiesuan td{height: 36px;background: #f5f5f5;position: relative;}
.shopping{display: block;width: 86px;height: 27px;border:1px solid #de0202;border-radius: 4px;background: linear-gradient(#fd7373,#b40001);color: #fff;text-align: center;line-height: 27px;position: absolute;left: 13px;top: 4px;}
.shopping:hover{text-decoration: none;}
.jiesuan_go{float: right;width: 117px;height: 35px;border-top: 1px solid #f5aeac;background: url(../imgs/111.jpg) repeat-x left top;font-size: 18px;color: #fff;text-align: center;line-height: 35px;}
.jiesuan_go:hover{text-decoration: none;}
.jiesuan p{float: right;height: 36px;line-height: 36px;color: #5e5e5e;font-size: 14px;font-weight: bold;}
.jiesuan p span{color: #d0000d;font-size: 15px;padding: 0 18px;}


/*-----------main与footer之间的一条分割线----------*/
#space{width: 983px;margin: 13px auto 25px;border-top: 1px solid #e3dedf;}

/*-===================用户未登陆时弹出的遮罩层=======================-*/
#mask{width: 100%;height: 100%;position: fixed;background: rgba(0,0,0,.4);left: 0;top: 0;right: 0;bottom: 0;margin: auto;z-index: 500;display: none;}
#innermask{width: 400px;height: 400px;border: 2px solid #A3B7C7;background: rgba(255,255,0,.5);position: fixed;left: 0;right: 0;top: 0;bottom: 0;margin: auto;z-index: 1000;color: #fff;font: bold 40px/150px "微软雅黑";text-align: center;}
#innermask a{font: bold 30px/50px "微软雅黑";}
#innermask a:hover{text-decoration: none;}
