*{color: #666;}
.border_bottom{border-bottom: 1px dashed #b3b3b3;}
strong{color: #e51800;}

.checkout{width: 985px;background: yellow;margin: 0 auto;padding-bottom: 8px;}
.checkout>div{padding: 0 18px;}
.receiver_info{position: relative;}
.first_show{height: 54px;padding-top: 19px;}
.first_show>p{height: 32px;line-height: 32px;}
.first_show strong{padding-right: 10px;}
.second_show,.last_show{display: none;}
.second_show{width: 943px;padding: 19px 18px 0;border: 3px solid #cb7844;position: absolute;left: 0;top: 0;}
.second_show>p{height: 30px;line-height: 30px;}


.last_show{padding-top: 28px;}
.last_show p{height: 26px; line-height: 26px;}
.last_show label{display: inline-block;width: 88px;text-align: justify;}
.last_show input[type=text]{width: 171px;height: 17px;border: 1px solid #a9a9a9;color: #000;}
.last_show select{height: 17px;font-size: 12px;color: #000;padding-right: 15px;}

.paymethod{margin-top: 21px;}
.paymethod p{height: 46px;line-height: 46px;}
.paymethod input[type=radio]{margin: 0 4px 0 34px;position: relative;top: 2px;}

.deliverway{padding-top: 10px!important;}
.deliverway p{height: 45px;line-height: 45px;}
.deliverway p input[type=radio]{margin: 0 3px 0 35px;position: relative;top: 2px;}
.deliverway p select{font-size: 12px;color: #000;}

.invoice{padding-top: 20px!important;}
.invoice p{line-height: 37px;position: relative;}
.invoice p span{margin: 0 3px 0 42px;}
.invoice p input[type=radio]{margin: 0 3px 0 30px;position: relative;top: 2px;}
.invoice .fapiao1 input[type=text]{width: 200px;height: 23px;margin: 0 8px 0 30px;border: 1px solid #ddd;}
.invoice .fapiao2 input[type=text]{width: 200px;height: 23px;position: absolute;left: 150px;top: 0;bottom: 0;margin: auto 0;border: 1px solid #ddd;}


