html {overflow-y:scroll;}
body {margin:0; padding:0; font:12px/1.5 \5b8b\4f53,Arial,sans-serif;/*background:#ffffff;*/}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p{padding:0; margin:0;}
table,td,tr,th{font-size:12px;}
ol,ul {list-style:none;}
li{list-style-type:none;}
img{vertical-align:top;border:0;}
h1,h2,h3,h4,h5,h6{font-size:inherit; font-weight:normal;}
a{font-size:12px ;color: #333;text-decoration: none;}
a:hover{text-decoration: underline;}
input{border:0;}


#main{width: 1210px;margin: 0 auto;}

/*banner*/
.top{height:33px;padding-left: 8px;line-height: 33px;}
.top a,.top span{color: #666;}
.top span{padding:0 8px;}

.banner_area{width:100%;height: 563px;position: relative;}
#sidebar{width: 219px;height: 549px;border:1px solid #ddd;background:#F8F8F8;float: left;overflow: visible;}
.prod_classes{height: 109px;border-bottom: 1px solid #ddd; position: relative;}
.prod_classes h3{height: 19px;padding: 13px 0 0 6px;font-size: 14px;color: #5E5E5E;font-weight: bold;}
.prod_classes a{padding:0 19px 0 24px;line-height: 26px;font-size: 12px;}
.prod_classes div{width: 600px;height: 107px;background: #fff;border:1px solid #f00;position: absolute;left: 0;top: 0;display: none;z-index: 1000;}
.prod_classes:hover div{display: block;}

#subnav{width: 219px;position: absolute;left: 0;top: -80px;}
#subnav h2{height: 47px;background: url(../imgs/index/list.jpg) no-repeat;}
.item_list{padding:0 3px 10px;background:#E84848;position: relative;top: -2px;display: none;z-index: 200;}
.item_list li{height: height:40px;line-height: 40px;padding-left: 25px;color: #fff;border-bottom: 1px dashed #f27676;}
.item_list li a{color: #fff;font-size: 14px;}
.item_list li span{float: right;padding-right: 10px;font-size: 9px;}
.item_list li:hover{background: #fff;color: #E70012;}
.item_list li:hover a{color: #E70012;}

.details{width: 725px;position: absolute;background: #fff;left: 215px;top: 60px;display: none;z-index: 100;padding-top: 15px;border:1px solid #eee;}
#details2{top: 60px;}
#details3{top: 60px;}
#details4{top: 60px;}
#details5{top: 80px;}
#details6{top: 200px;}
#details7{top: 260px;}
#details8{top: 240px;}
.details .left{width: 584px;float: left;border-right: 1px solid #bcbcbc;}
.fenlei{padding:0 15px 10px;width:554px;overflow: hidden;}
.details a:hover{color:#f00;}

.fenlei>span{width: 100px;height:30px;line-height:30px;float: left;color: #f00;text-align: center;font-weight: bold;}
.fenlei>p{width: 454px;float: right;}
.fenlei>p a{display: inline-block;padding: 0 8px;height: 15px;line-height: 15px;margin: 5px 0;border-left: 1px solid #bcbcbc;color: #000;}
.details .right{width: 140px;float: right;text-align: center;}
.details .right h3{height: 37px;line-height: 37px;font-weight: bold;color: #453037;}
.details .right li{height: 30px;line-height: 30px;color: #000;}


.banner_wrap{width: 983px;height: 308px;float: right;}
#fading_pic{width: 715px;height: 306px;border:1px solid #FDAD6D;position: relative;float: left;cursor: pointer;}
#fading_pic img{width: 715px;height: 306px;display: none;position: absolute;left: 0;top: 0;}
#fading_pic p{position: absolute;right: -1px;bottom: 0;}
#fading_pic p span{display: inline-block;width: 22px;height: 13px;line-height: 13px;background:#575455;border-right: 1px solid #fff;color: #fff;text-align: center;font-weight: bold;margin: 0;}
#fading_pic p span.curr{background: #D00A0D;}
.rightbar{width: 262px;height: 306px;float: right;}
.rightbar>div{width: 260px;height: 205px;border:1px solid #ccc;}
.rightbar>div h4{height: 24px;line-height: 24px;background: #F3F3F3;font-weight: bold;text-align: center;}
.rightbar>div ul{padding:9px 19px 0;}
.rightbar>div li{height: 30px;line-height: 30px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.rightbar>div li a:hover{color: #f00;}
.rightbar>a{display: block;width: 262px;height: 89px;margin-top: 10px;}



.ads{width: 983px;height: 255px;float: right;overflow: hidden;}
.ads_choice{height: 28px;line-height: 28px;padding-top: 15px;border-bottom: 2px solid #E80B1C;}
.ads_choice strong{display: inline-block;width: 92px;height: 28px;color: #5E5E5E;text-align: center;}
.ads_choice strong.selected{background:#E70012;color: #fff;height: 30px;}
.ads_items{height: 202px;padding-top: 10px;display: none;}
.items_details{height: 202px;width: 143px;float: left;margin-right: 20px;}
.items_details dt,.items_details dt img{height: 138px;}
.items_details dd a{display: block;height: 40px;line-height: 20px;overflow: hidden;}
.items_details dd strong{color: #E70012;line-height: 25px;}

/*floors*/
/*.floors{border-top: }*/
.floors h2{height: 35px;line-height: 35px;border-bottom: 2px solid #E70012;font-size: 14px;font-weight: bold;color: #5E5E5E;padding-left: 13px;}
.floors>div{height: 230px;}
.floors>div>a{display:block;float: left;width: 220px;height: 230px;position: relative;}
.floors>div>a>img{width:220px;height: 220px;position: absolute;top: 0;bottom: 0;margin: auto;}
.prod_items{width: 990px;height: 230px;float: left;}
.prod_introd{width: 197px;height: 229px;float: left;border-right: 1px solid #EAEAEA;border-bottom: 1px solid #EAEAEA;}
.prod_introd dt{width: 197px;height: 170px;text-align: center;}
.prod_introd dt img{width: 170px;height: 170px;}
.prod_introd dd{height: 59px;padding: 0 19px 0 13px;}
.prod_introd dd a{display: block;height: 40px;line-height: 20px;overflow: hidden;}
.prod_introd dd strong{color: #E90012;font-size: 14px;}